<nav class="db dt-l w-100 border-box pa3  ph5-l sans-serif  " style="background-color:#24292e; color:white">
    <a class="db dtc-l v-mid white link dim w-100 w-25-l tc tl-l mb1 mb0-l " href="/" title="Home">
      goshort.in (url shortener)
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l white">
      <a class="link  f6 f5-l  mr3 mr4-l" href="{{url_for('index')}}" style="color:white" title="Home">Home</a>
      
      <!-- <a class="link   f6 f5-l  mr3 mr4-l" href="{{url_for('index')}}"  style="color:white" title="APIS">APIS</a> -->
      <a class="link   f6 f5-l  mr3 mr4-l" href="{{url_for('track')}}"  style="color:white" title="Track URl">Track Url</a>
      <a class="link  f6 f5-l  mr3 mr4-l" href="http://pinmyblogs.com" style="color:white" title="Home">pinmyblogs</a>
      <a  class="link  f6 f5-l  mr3 mr4-l"  style="color:white" href="javascript:void(location.href='https://goshort.in/create?url='+encodeURIComponent(location.href))" onmouseover="window.status='';return true" onclick="return false">Drag Me To Up</a>
    </div>
  </nav>